.chat {
    padding: 0 30px;
    height: 100vh;
    width: 100%;
    display: flex;
}

/* central Message menu */
.directMessageMenu {
    height: 100vh;
    width: 32%;
    border: 1px solid black;
}

/* start of elements in messageMenu */
.messageMenuTop {
    padding: 0 15px;
}

.messagesHeader {
    font-size: 24px;
    font-weight: 700;
}

.messageMenuNavbar {
    padding: 0 15px;
}

.dmSearchBar{
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    outline: none;
    text-align: center;
    border-radius: 30px;
    border: 1px solid black;
}
/* end of elements in messageMenu */
/* end of central Message menu */


/* direct message section */
.directMessage {
    height: 100vh;
    width: 46%;
    border: 1px solid black;
}

/* start of elements in directMessage */
.recipientDetailsContainer {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.05);
}

.recipientUsername {
    margin: 0 10px;
    font-weight: 700;
    color: #0f1419;
}

.messageContainer {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* start of elements in messageContainer */

.senderMessageContainer {
    align-items: flex-end;
}

.recipientMessageContainer {
    align-items: flex-start;
}

.message {
    width: fit-content;
    font-size: 15px;
    margin: 0;
    padding: 12px 16px;
    border-radius: 20px;
}

.senderMessage {
    color: white;
    background-color: #1a8cd8;
    border-bottom-right-radius: 0;
}

.recipientMessage {
    color: #0f1419;
    background-color: #eff3f4;
    border-bottom-left-radius: 0;
}

.messageTimeSent {
    margin: 5px;
    font-size: 13px;
    color: #536471;
}

.senderMessageTimeSent {
    float: right;
}

.recipientMessageTimeSent {
    float: left;
}

/* end of elements in messageContainer */

.messageInputSection {
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    width: 44%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}

#messageInput {
    width: 60%;
    padding: 8px 20px;
    outline: none;
    border-radius: 20px;
    border: 1px solid black;
}

/* end of elements in directMessage */
/* end of dm section */