* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.explore {
    padding: 0 30px;
    height: 300vh;
    width: 100%;
    display: flex;
    /* background-color: green; */
}

/* 
    LEFT TWITTER MENU
*/
.menuLeft {
    height: 100vh;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    position: sticky;
    top: 0;
}

/* start of elements in menuLeft */

.twitterIcon {
    margin: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.35s ease-in-out;
}

/* start twitterIcon */
.twitterIcon:hover {
    background-color: rgba(29, 156, 240, 0.15);
}

.twitterIcon img {
    height: 28px;
    width: 28px;
}
/* end twitterIcon */

.menuLeftBtn {
    margin: 1px 0;
    padding: 12px;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #0f1419;
    border-radius: 30px;
    transition: 0.35s ease-in-out;
}

/* start menuLeftBtn */
.menuLeftBtn:hover {
    color: #0f1419;
    background-color: rgba(0, 0, 0, 0.1);
}

.menuLeftBtn img {
    margin: 0 10px 0 0;
    height: 25px;
    width: 25px;
}

.menuLeftBtn p{
    line-height: 20px;
    margin: 0 0 0 10px;
}

.menuLeftSettingsTextBold { 
    font-weight: 700;
}
/* end exploreBtn */

#menuLeftTweetBtn {
    margin: 10px 0;
    padding: 15px 20px;
    width: 90%;
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    background-color: #1d9bf0;
    cursor: pointer;
}

#menuLeftTweetBtn:hover {
    background-color: #1a8cd8;
}

.menuLeftProfileBtn {
    padding: 12px 0;
    position: absolute;
    width: 90%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    border-radius: 60px;
}
/* start menuLeftProfileBtn */
.menuLeftBtnLeft {
    display: flex;
    align-items: center;
}

.menuLeftProfileText {
    margin: 0 10px 0;
}

.menuLeftProfileBtn p{
    font-size: 15px;
    margin: 0;
}

#menuLeftProfileName{
    color: #0f1419;
    font-weight: 700;
}

#menuLeftProfileHandle {
    color: #536471;
}

.menuLeftProfileBtn .menuLeftProfilePic {
    margin: 0 0 0 10px;
    height: 40px;
    width: 40px;
}

.menuLeftProfileBtn .menuLeftProfileMoreIcon{
    height: 15px;
    width: 15px;
}
/* end menuLeftProfileBtn */

/* end of elements in menuLeft */

/* 
    MIDDLE TWITTER FEED
*/
.feed {
    height: 100%;
    width: 47%;
    border-left: 1px solid rgb(0, 0, 0, 0.25);
    border-right: 1px solid rgb(0, 0, 0, 0.25);
}

#tweetsList {
    width: 100%;
}

.tweetContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100px;
}

.tweet {
    height: 100%;
    position: relative;
    z-index: 0;
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    transition: 0.3s ease-in-out;
}

.tweet:hover {
    background-color: rgb(0, 0, 0, 0.075);
    cursor: pointer;
    color: black;
}

/* start tweet */
.tweetProfilePic {
    height: 48px;
    width: 48px;
}

.tweetContent {
    width: 80%;
    margin: 0 0 0 10px;
}

.tweetContentTopRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profileNames {
    display: flex;
    align-items: center;
}

.profileNames p {
    margin: 0;
    line-height: 18px;
    font-size: 15px;
}

#username {
    margin: 0 5px 0 0;
    font-weight: 700;
    color: #0f1419;
}

#userHandle {
    color: #536471;
}

.topRowDot {
    margin: 0 5px;
    padding: 1px;
    background-color: #536471;
}

#tweetTime {
    color: #536471;
}

#tweetText {
    margin: 5px 0 10px 0;
    padding: 0;
}

.tweetMoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.tweetMoreBtn:hover {
    background-color: rgba(29, 156, 240, 0.15);
}

.tweetIcon{
    margin-bottom: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    bottom: 0;
}

.tweetIcon p {
    margin: 0 0 0 8px;
    padding: 0;
    line-height: 18px;
}

.comment { left: 13%; }
.comment:hover{ color: #1d9bf0; }
.comment:hover .icon { background-color: rgba(29, 156, 240, 0.25); }

.retweet { left: 33%; }
.retweet:hover{ color: #00b87c; }
.retweet:hover .icon { background-color: rgb(0, 184, 124, 0.25); }

.like { left: 53%; }
.like:hover{ color: #f91880; }
.like:hover .icon { background-color: rgba(249, 24, 128, 0.25); }

.share { left: 73%; }
.share:hover{ color: #1d9bf0; }
.share:hover .icon { background-color: rgba(29, 156, 240, 0.25); }

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0;
    padding: 5px;
    line-height: 18px;
    font-size: 18px;
}
/* end tweet */
/* start of elements in feed */

.navbar {
    padding: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* start navbar */
.searchBar {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 85%;
    background-color: #eff3f4;
    border-radius: 30px;
    border: 1px solid #eff3f4;
}

/* start searchBar */
.searchBar:focus {
    background-color: transparent;
    border: 1px solid #1d9bf0;
}

.searchBar:focus .searchIcon{
    color: #1d9bf0;
}

.searchIcon {
    color: grey;
    font-size: 18px;
    font-weight: 200;
    margin: 0 20px 0 15px;
}

#searchInput {
    width: 90%;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
}

/* end searchBar */

.navbarSettingsBtn {
    margin: 0 5px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.navbarSettingsBtn:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.navbarSettingsBtn img{
    height: 20px;
    width: 20px;
}
/* end navbar */

.feedImageContainer {
    position: relative;
    padding: 12px 16px;
    height: 340px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(transparent, black), url("https://pbs.twimg.com/semantic_core_img/1593741019094425602/S8onPxiE?format=jpg&name=small");
    background-size: cover;
    color: white;
}

/* start feedImageContainer */
.feedImageSmallTitle {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 43px;
}

.feedImageSmallTitle p {
    margin: 0;
    font-size: 13px;
}

.dot {
    height: 2px;
    width: 2px;
    margin: 0 5px;
    background-color: white;
}

.feedImageLargeTitle {
    position: absolute;
    margin: 0;
    font-size: 23px;
    font-weight: 800;
    line-height: 28px;
    bottom: 12px;
}
/* end feedImageContainer */

.trends {
    overflow: hidden;
    background-color: #f7f9f9;
    border-radius: 15px;
    /* border-bottom: 1px solid rgb(0, 0, 0, 0.25); */
}

/* start of elements in trends */
.trends p, .trends h3 {
    margin: 0;
    /* padding: 0; */
}

.trendsTitle {
    color: #0f1419;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 16px;
}

.trendsRow {
    padding: 12px 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

/* start trendsRow */
.trendsRow:hover {
    background-color: rgb(0, 0, 0, 0.03);
}

.trendsLightText {
    font-size: 13px;
    color: #536471;
}

.trendsDarkText {
    font-size: 15px;
    font-weight: 700;
    color: #0f1419;
}

.trendsMoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.trendsMoreBtn:hover {
    background-color: rgba(29, 156, 240, 0.15);
}

.trendsMoreBtn img {
    height: 15px;
    width: 15px;
}

.showTrendsRow {
    padding: 16px;
    color: #1d9bf0;
    font-size: 15px;
}
/* end trendsRow */

/* end of elements in trends */

/* end of elements in feed */

/* 
    RIGHT TWITTER MENU
*/
.menuRight {
    height: 100vh;
    width: 31%;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    /* background-color: red; */
}

/* start of elements in menuRight */
.signUpSection {
    padding: 15px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 20px;
}

/* start signUpSection */
.signUpTitle {
    margin: 0 5px 5px 5px;
    font-size: 20px;
    color: #0f1419;
}

.signUpTextTop {
    margin: 10px 0;
    font-size: 13px;
    color: #536471;
}

.signUpBtn {
    width: 90%;
    padding: 7px 0;
    margin: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid rgb(207, 217, 222);
    cursor: pointer;
}

.signUpBtn:hover {
    background-color: rgb(230, 230, 230);
}

.signUpBtn img {
    margin: 0 10px;
    height: 20px;
    width: 20px;
}

.signUpBtn p {
    margin: 0;
}

/* start menuRight elements (for profile/home pages) */
.searchBarMenuRight {
    margin: 5px 0;
    width: 100%;
}

.trendsMenuRight {
    margin: 10px 0;
}

/* end menuRight elements (for profile/home pages) */

.appleSignUpBtn, .phoneSignUpBtn {
    font-weight: 700;
}

.signUpTextBottom {
    margin: 15px 0 5px 0;
    color: #536471;
    font-size: 13px;
}

.signUpTextBottom a{
    text-decoration: none;
    color: #1d9bf0;
}

.signUpTextBottom a:hover {
    color: #1d9bf0;
    text-decoration: underline;
}
/* end signUpSection */

.termsOfService {
    margin: 15px;
    font-size: 13px;
    color: #536471;
}

/* start termsOfService */
.tosLinks {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tosLinks li {
    line-height: 20px;
    display: inline;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.tosLinks li:hover {
    text-decoration: underline;
}

.tosLinks a{
    color: #536471;
    text-decoration: none;
}

.tosLinks a:hover {
    color: #536471;
}

.tosLinksMore {
    display: flex;
    align-items: flex-end;
}

.tosLinksMoreIcon {
    height: 10px;
    width: 12px;
}
/* end termsOfService */

.termsOfService p{
    margin: 3px 0;
}
/* end of elements in menuRight */

/* start of Modal styles */
.alertDiv {
    display: none;
}

.spinnerBtn {
    width: 100%;
    display: none;
}

.accountText {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.accountText span {
    color: #1d9bf0;
    cursor: pointer;
}

.accountText span:hover {
    text-decoration: underline;
}
/* end of Modal styles */

/* fixed blue authentication footer */
.authFooter {
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    color: white;
    background-color: #1d9bf0;
}

/* start of elements in authFooter */
.authFooterLeft {
    width: 23%;
    height: 100%;
}

.authFooterContent {
    width: 45%; 
}

.authFooterLargeText {
    margin: 0;
    font-size: 23px;
    line-height: 30px;
}

.authFooterSmallText {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
}

.authFooterButtons {
    width: 32%;
    padding: 0 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.authFooterBtn {
    margin: 0 10px;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.authFooterBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.authFooterSignUp {
    border: none;
    color: black;
    background-color: white;
}

.authFooterSignUp:hover {
    background-color: #dbdbdb;
}

/* end of elements in authFooter */